.bm-right .br_pack .brp_tab table {
    /*display:none;*/
    width: 920px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #7e7e7e;
    border-top-color: #fff;
    border-bottom-color: #fff;
}