{# base/templates/base.html #}

{% extends 'index.html' %}
{% load static %}

{% block head %}  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<title>{% block title %}Cleo{% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/index-bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index-font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/index-templatemo-breezed.css' %}">
<link rel="stylesheet" href="{% static 'css/index-owl-carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/index-lightbox.css' %}">
{% endblock head %}

{% block body %}
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>  
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky background-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'home' %}" class="logo">
                        .CLEO
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="submenu">
                            <a href="javascript:;">Kinihouse</a>
                            <ul>
                                <li><a href="{% url 'COMMODITY:commodity_list' %}">Commodity</a></li>
                                <li><a href="{% url 'VENDOR:vendor_list' %}">Vendors</a></li>
                                <li><a href="{% url 'ORDER:order_list' %}">Order</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">WechatBot</a>
                            <ul>
                                <li><a href="{% url 'WECHATBOT:send-url-page' %}">Web Bot</a></li>
                                <li><a href="{% url 'WECHATBOT:auto-reply' %}">Auto Reply</a></li>
                                <li><a href="{% url 'WECHATBOT:schedule' %}">Schedule</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Upload</a>
                            <ul>
                                <li><a href="{% url 'UPLOADFILE:index' %}">Upload Photo</a></li>
                                <li><a href="{% url 'UPLOADFILE:upload_file' %}">Upload File</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="{% url 'WEDDING:index' %}">Wedding</a></li> 
                        <li class="scroll-to-section"><a href="{% url 'PORTFOLIO:portfolio' %}">Portfolio</a></li> 

                        <!-- login btns -->
                        <div class="login">
                            {% if user.is_authenticated %}
                                {% if request.user.is_superuser %} 
                                    <a class="login-button" href="/admin">admin</a>/
                                {% endif %}
                                <a class="login-button" href="{% url 'account_logout' %}">logout</a>
                            {% else %}
                                <a class="login-button" href="{% url 'account_login' %}">login</a>/
                                <a class="login-button" href="{% url 'register' %}">register</a>
                            {% endif %}
                        </div>
                        <div class="search-icon">
                            <a href="#search"><i class="fa fa-search"></i></a>
                        </div>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

{% block home %}{% endblock home %}

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="left-text-content">
                    <p>Copyright &copy; 2021. 
                    Design by <a rel="nofollow noopener" href="{% url 'home' %}">Cleo</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="right-text-content">
                        <ul class="social-icons">
                            <li><p>Follow Me</p></li>
                            <li><a rel="nofollow" href="{% url 'home' %}"><i class="fa fa-facebook"></i></a></li>
                            <li><a rel="nofollow" href="{% url 'home' %}"><i class="fa fa-twitter"></i></a></li>
                            <li><a rel="nofollow" href="{% url 'home' %}"><i class="fa fa-linkedin"></i></a></li>
                            <li><a rel="nofollow" href="{% url 'home' %}"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'js/index-jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/index-popper.js' %}"></script>
<script src="{% static 'js/index-bootstrap.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'js/index-owl-carousel.js' %}"></script>
<script src="{% static 'js/index-scrollreveal.min.js' %}"></script>
<script src="{% static 'js/index-waypoints.min.js' %}"></script>
<script src="{% static 'js/index-jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/index-imgfix.min.js' %}"></script> 
<script src="{% static 'js/index-slick.js' %}"></script> 
<script src="{% static 'js/index-lightbox.js' %}"></script> 
<script src="{% static 'js/index-isotope.js' %}"></script> 

<!-- Global Init -->
<script src="{% static 'js/index-custom.js' %}"></script>

<script>
    $(function() {
        var selectedClass = "";
        $("p").click(function(){
        selectedClass = $(this).attr("data-rel");
        $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("."+selectedClass).fadeOut();
        setTimeout(function() {
          $("."+selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);
            
        });
    });
</script>
{% block js %}{% endblock js %}

{% endblock body %}  
