{# base/templates/base.html #}

{% extends 'index.html' %}
{% load static %}

{% block head %}  
<title>{% block title %}CLEO{% endblock title %}</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Custom CSS -->
<link href="{% static 'page/css/stylish-portfolio.css' %}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{% static 'page/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock head %}

{% block body %}
<header>
  {% block header %}
  <!-- Nav -->
  <nav id="nav" class="navbar navbar-default navbar-static-top" role="navigation">
    {% block nav %}
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">CLEO</a>
      </div>

      <div>
        <ul class="nav navbar-nav text-uppercase">
          <li><a href="{% url 'VENDOR:vendor_list' %}">Vendors</a></li>
          <li><a href="{% url 'COMMODITY:commodity_list' %}">Commodity</a></li>
          <li><a href="{% url 'ORDER:order_list' %}">Order</a></li>
          <li class="dropdown">
            <a href="{% url 'WECHATBOT:auto-reply' %}" class="dropdown-toggle" data-toggle="dropdown">
              WechatBot
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">  
              <li><a href="{% url 'WECHATBOT:auto-reply' %}">啟動自動回覆</a></li>
              <li><a href="{% url 'WECHATBOT:schedule' %}">排程回覆</a></li>
            </ul>
          </li>
          <li><a href="{% url 'WEDDING:index' %}">Wedding</a></li>
        </ul>
      </div>

      <div class="navbar-right navbar-form">
          {% if user.is_authenticated %}
            {% if request.user.is_superuser %} 
              <a class="btn btn-default" href="{% url 'home' %}./admin">管理</a>
            {% endif %}
            <a class="btn btn-default" href="{% url 'account_logout' %}">登出</a>
          {% else %}
            <a class="btn btn-default" href="{% url 'account_login' %}">登入</a>
            <a class="btn btn-default" href="{% url 'register' %}">註冊</a>
          {% endif %}
      </div>
    </div>
    {% endblock nav %}
  </nav>
  {% endblock header %}
</header>

{% block home %}{% endblock home %}

<!-- Footer -->
<footer class="footer-base">
  {% block footer %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4>Start Bootstrap</h4>
        <p>3481 Melrose Place
          <br>Beverly Hills, CA 90210</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
  {% endblock footer %}
</footer>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'base/js/base.js' %}"></script>
{% block js %}{% endblock js %}

{% endblock body %}  
