{% extends 'wechatbot/base.html' %}
{% load static %}

{% block title %}Wechat 自動回覆 | {{ block.super }}{% endblock title %}

{% block content %}
<div class="row" style="margin-top: 50px;">
	<div class="col-lg-6 col-md-6 col-sm-6" style="height:350px;border-right:1px gray double;">
		<div class="center-block" style="width:450px;margin-top: 20px">
			<button id="get-auto-qr" style="width:360px;" class="btn" data-loading-text="Loading..." type="button">
				獲取自動回覆登入Qr Code
			</button>
		</div>
		<div class="center-block" style="width:450px;margin-top: 20px">
			<button id="bot-reply" style="width:360px;" class="btn" data-loading-text="Loading..." type="button">
				啟用自動回覆
			</button>
		</div>
	</div>

	<div>
		<div>
			<img class="center-block" id="qr" style="display:none" width="350" height="350"/>
		</div>
	</div>
</div>

<script>
	$(function() {
		$("#datepicker").datetimepicker({
			dateFormat: "yy-mm-dd",
			showSecond: true,
			timeFormat: 'HH:mm:ss',
		});
	});
	$('#get-auto-qr').click(function() {
		$('#qr').show();
		$('#qr').attr('src', '/WechatBot/get-auto-qr/?random=' + Math.random())
	});
	$("#bot-reply").click(function() {
		$.get("/WechatBot/bot-reply/", function(data) {
		})
	});
</script>
{% endblock content %}