{% extends 'order/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Order | {{ block.super }}{% endblock title %}

{% block content %}
{% if request.user.is_superuser %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="panel panel-info">
    <div class="panel-heading">Vendor Create</div>
    <div class="panel-body">
        <form class="row" action="" method="post" role="form">
            {% csrf_token %}
            {% for field in inventory_form %}
            <div class="col-xs-2" style="width: 20%;">
                <label for="" class="col-sm-7" >{{ field.label }}</label>
                <div class="col-sm-10">{{ field }}</div>
            </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary">建立</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>操作</th>
                <th>選擇</th>
                <th>日期</th>
                <th>來源</th>
                <th>重量</th>
                <th>單號</th>
                <th>品項</th>
                <th>規格</th>
                <th>買家</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for O in Order  %}
            <tr id="kd_con" class="">
                <td class="other">
                    <p class="td_edit">改</p>
                    <p class="td_del">删</p>
                </td>
                <td><input type="checkbox" name="chk[]" value="{{ O.Weight|default:0 }}" onclick="sum()" ></td>
                <td>{{ O.Purchase_Date|date:"m/d" }}</td>
                <td><p class="kd_bc">{{ O.Type }}</p></td>
                <td id="weight">{{ O.Weight|default:"-" }}</td>
                <td><p class="kd_bc kd_billcode">{{ O.shipment_Num }}</p></td>
                <td class="goodsname">{{ O.goodsname }}</td>
                <td class="specification">{{ O.specification }}</td>

                {% for buyer in O.Buy  %}
                <td class="Buyer">
                    <STRIKE>{{ buyer.r }}</STRIKE>
                    {% if buyer.Status_id  == 1 %}
                    <p><STRIKE>{{ buyer|default:"" }}</STRIKE></p>
                    {% else %}
                    <p id="{{ buyer }}">{{ buyer|default:"" }}</p>
                    {% endif %}
                    <button class="btn btn-default btn-xs" onclick="copyToClipboard('{{ buyer }}')">copy</button>
                    <form action="/Order/shipped/" method="post" style="display:inline">  
                        {% csrf_token %}
                        <button class="btn btn-default btn-xs" type="submit" name="shipped" value="{{ buyer.id }}">出貨</button>
                    </form>    
                </td>
                {% endfor %}

                <td class="addBuyer">
                    <form class="form-inline" action="/Order/addbuyer/">
                        {% csrf_token %}
                        {% for field in customer_form %}
                        <div class="input-group input-group-sm">
                            <!-- <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" size="3"> -->
                            <div class="col-sm-10">{{ field }}</div>
                        </div>
                        {% endfor %}
                        <button class="btn btn-default btn-xs" type="submit" name="addbuyer" value="{{ O.id }}">add</button>
                    </form>
                </td>

                {% for stock in O.Stocks  %}
                <td class="Stock">
                    <p id="{{ stock }}" style="color: #944ad6;">{{ stock|default:"" }}</p>
                {% endfor %}
                </td>

            </tr><!--/td-item-->
            {% endfor %}
            <!-- <form action="/Order/ordercreate/" method="post" role="form">
                <tr id="kd_con" class="">
                    {% csrf_token %}
                    <td></td>
                    <td></td>
                    <td><input type="text" name="Purchase_Date" placeholder="日期"  style="width: 50px;"/></td>
                    <td><input type="text" name="Type" placeholder="來源"  style="width: 50px;"/></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" name="goodsname" placeholder="品項"  style="width: 50px;"/></td>
                    <td><input type="text" name="specification" placeholder="規格"  style="width: 50px;"/></td>
                </tr><!--/td-item-->
            </form>



        </tbody>
    </table>
</div>

<script type="text/javascript" >
	function checkAll(obj){
		var item = document.getElementsByName('chk[]');
		for(var i=0;i<item.length;i++){
			item[i].checked = (obj.checked==true) ? true : false;
		}
		sum();
	}
	
	function sum(){
		var sum = 0;
		var item = document.getElementsByName('chk[]');
		for(var i=0;i<item.length;i++){
			sum += (item[i].checked==true) ? Number(item[i].value) : 0;
		}
		document.getElementById('sum').innerHTML = sum;
	}
</script>

<input type="checkbox" onclick="checkAll(this)" >全選 
<br>
總重量：<span id="sum">0</span>
<br>

<tbody>
    <input type="text" placeholder="請將複製的內容右鍵粘貼進行查看" />
</tbody>

<script>
    function copyToClipboard(elementId) {
        // 創建元素用於複製
        var aux = document.createElement("input");
        // 獲取複製內容
        var content = document.getElementById(elementId).innerHTML || document.getElementById(elementId).value;
        // 設置元素內容
        aux.setAttribute("value", content);
        // 將元素插入頁面進行調用
        document.body.appendChild(aux);
        // 複製內容
        aux.select();
        // 將內容複製到剪貼板
        document.execCommand("copy");
        // 刪除創建元素
        document.body.removeChild(aux);
    }
</script>
{% else %}
您沒有權限訪問此頁
{% endif %}
{% endblock content %}