{% extends 'commodity/base.html' %}
{% load static %}

{% block title %}Commodity | {{ block.super }}{% endblock title %}

{% block content %}
{% if request.user.is_superuser %}
<link rel="stylesheet" href="//cdn02.pinkoi.com/media/ab49f5e/css/core.css" media="">

<!-- Main -->
<div id="main">
    <div class="g_grid_items g-filter-grid">
        {% for C in Commodity  %}
        <div class="item g-fav-wrap">
            <a href="{{ C.Url }}" class="photo" target="_blank">
                <img class="m-dom-lazy" src="{{ C.Image1 }}">
            </a>

            <h3 class="title">
                <a href="{{ C.Url }}" target="_blank">{{ C.Title }}</a>
            </h3>

            <div class="info">
                <div class="price">NT$ <b>{{ C.Selling_Price|default:"未填"  }}</b></b></div>
                <div class="owner">by paperself</div>
            </div> 
            
            <div class="g-item-badge g-item-badge-free-shipping">
                <div>免運</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
您沒有權限訪問此頁
{% endif %}
{% endblock content %}