{% extends 'base.html' %}

{% load bootstrap3 %}
{% block title %}
Register Page
{% endblock title %}

{% block body %}
{{ block.super }}
<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% for field in form %}
              {{ field.errors }}
            {% endfor %}
        <button type="submit">送出</button>
        </form>
      </div>
    </div>
</div>
{% endblock body %}