{% extends "account/base.html" %}
{% load bootstrap3 %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="text-center">
  <h1>Login</h1>
  <p>若你沒有帳號，請先<a href="{% url 'register' %}"> 註冊 </a>。</p>
</div>

<hr size="8px" align="center" width="100%">

<div>
  <h5 class="text-center">用 Kini 帳號登入</h5>
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button style="right: 15px;" class="button" type="submit">登入</button>
    <a class="button secondaryAction pull-right" href="{% url 'account_reset_password' %}">忘記密碼?</a>
  </form>
</div>

<hr size="8px" align="center" width="100%">

<div>
  <h5 class="text-center">用社群帳號快速登入</h5>
  <div class="sns-btn-group text-center">
    <a class="btn main-button-icon" href="{% url 'social:begin' 'facebook' %}" title="Facebook">facebook登入</a>
    <a class="btn main-button-icon" href="{% url 'social:begin' 'github' %}" title="GitHub">github登入</a>
  </div>
</div>

{% endblock content %}