{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load socialaccount %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="acconut-content home-container">
  <div class="text-center">
    <h1>Login</h1>
    <p>若你沒有帳號，請先<a href="{% url 'register' %}"> 註冊 </a>。</p>
  </div>
  
  <hr size="8px" align="center" width="100%">

  <div>
    <h5 class="text-center">社群帳號快速登入</h5>
    <div class="acconut-group text-center">
      <a class="btn" href="{% provider_login_url 'google' %}">
        <i class="fa fa-google fa-3x"></i>
        <span class="hidden-xs"></span>
      </a>
      <a class="btn" href="{% provider_login_url 'github' %}">
        <i class="fa fa-github fa-3x"></i>
        <span class="hidden-xs"></span>
      </a>
      <a class="btn" href="{% url 'social:begin' 'facebook' %}">
        <i class="fa fa-facebook-official fa-3x"></i>
        <span class="hidden-xs"></span>
      </a>
    </div>
  </div>

  <hr size="8px" align="center" width="100%">

  <div>
    <h5 class="text-center">帳號登入</h5>
    <form class="acconut-group" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button style="right: 15px;" class="button" type="submit">登入</button>
      <a class="button secondaryAction pull-right" href="{% url 'account_reset_password' %}">忘記密碼?</a>
    </form>
  </div>
  
</div>
{% endblock content %}