{% extends 'account/base.html' %}
{% load bootstrap3 %}

{% block title %}Register Page{% endblock title %}

{% block content %}
<div class="text-center">
  <h1>Register</h1>
  <p>若你已有帳號，請由此<a href="{% url 'account_login' %}"> 登入 </a>。</p>
</div>

<hr size="8px" align="center" width="100%">

<div>
  <div>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% for field in form %}
          {{ field.errors }}
        {% endfor %}
    <button style="right: 15px;" class="button" type="submit">註冊</button>
    </form>
  </div>
</div>
{% endblock content %}