<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="zh-tw" />
        <meta http-equiv="expires" content="-1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="last-modified" content="Mon, 19 Apr 2021 00:00:00 GMT" />
        <meta name="google" content="notranslate" />
        <meta name="copyright" content="Copyright © 2021 by Addcn Technology Co., Ltd. All Rights Reserved." />
        <meta name="robots" content="all" />
        <meta name="googlebot" content="all" />
        <meta name="keywords" content="" />
        <meta name="description" content="我們將在2021年07月20日舉辦婚禮，誠摯邀請您前來分享我們的喜悅~" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta property="og:title" content="Aa 與Qq的婚禮邀請函" />
        <meta property="og:description" content="我們將在2021年07月20日舉辦婚禮，誠摯邀請您前來分享我們的喜悅~" />
        <meta property="og:url" content="https://www.marry.com.tw/invitation/MlA1djhZbEk3ZnU0SU1JKw" />
        <meta property="og:image" content="https://pic.marry.com.tw/2020/10/24/191414/2021/04/19/161880090603789700.jpg?date=1618800942" />
        <meta property="og:site_name" content="結婚吧一站式婚禮服務平台" />
        <meta property="og:locale" content="zh_TW" />
        <meta property="fb:app_id" content="1802784896617361" />
        <meta itemprop="name" content="Aa 與Qq的婚禮邀請函" />
        <meta itemprop="description" content="我們將在2021年07月20日舉辦婚禮，誠摯邀請您前來分享我們的喜悅~" />
        <meta itemprop="image" content="https://pic.marry.com.tw/2020/10/24/191414/2021/04/19/161880090603789700.jpg?date=1618800942" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Aa 與Qq的婚禮邀請函" />
        <meta name="twitter:description" content="我們將在2021年07月20日舉辦婚禮，誠摯邀請您前來分享我們的喜悅~" />
        <meta name="twitter:image" content="https://pic.marry.com.tw/2020/10/24/191414/2021/04/19/161880090603789700.jpg?date=1618800942" />
        <meta name="author" content="結婚吧一站式婚禮服務平台" />
        <meta name="google-play-app" content="app-id=tw.com.marry" />
        <meta name="apple-itunes-app" content="app-id=1356057329" />
        <title>Aa 與Qq的婚禮邀請函</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://www.marry.com.tw/image/favicon.ico" />
        <link rel="manifest" href="/pwa_manifest.json" />
        <link rel="image_src" href="https://pic.marry.com.tw/2020/10/24/191414/2021/04/19/161880090603789700.jpg?date=1618800942" />
        <link rel="apple-touch-icon" sizes="114x114" href="https://statics.marry.com.tw/img/icon/apple_touch_icon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="https://statics.marry.com.tw/img/icon/apple_touch_icon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="https://statics.marry.com.tw/img/icon/apple_touch_icon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="https://statics.marry.com.tw/img/icon/apple_touch_icon/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="https://statics.marry.com.tw/img/icon/apple_touch_icon/apple-touch-icon-167x167.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://statics.marry.com.tw/img/icon/apple_touch_icon/apple-touch-icon-180x180.png" />
        <link href="https://statics.marry.com.tw/invitation-detail-20210419001.css?amp=" rel="stylesheet" type="text/css" />

        <script>
            window.onload = function () {
                setTimeout(function () {
                    (function (w, d, s, l, i) {
                        w[l] = w[l] || [];
                        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
                        var f = d.getElementsByTagName(s)[0],
                            j = d.createElement(s),
                            dl = l != "dataLayer" ? "&l=" + l : "";
                        j.async = true;
                        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                        f.parentNode.insertBefore(j, f);
                    })(window, document, "script", "dataLayer", "GTM-5PGGGSN");
                }, 500);
            };
        </script>

        <!-- </script> -->
        <link rel="stylesheet" href="https://statics.marry.com.tw/css/components/invitation/template_2.css?date=20210419001" />
    </head>
    <body>
        <style type="text/css">
            .page6 {
                background-image: url(https://statics.marry.com.tw/img/invitation/template_2/06_bg.jpg?date=20210419001);
            }
            .page7 {
                background-image: url(https://statics.marry.com.tw/img/invitation/template_2/07_bg.jpg?date=20210419001);
            }
            .page8,
            .fancybox {
                background-image: url(https://statics.marry.com.tw/img/invitation/template_2/08_bg.jpg?date=20210419001);
            }
        </style>
        <div class="wrapper">
            <div id="loading" class="loading">
                <div class="load"><span></span><span></span><span></span><span></span></div>
            </div>
            <div class="main">
                <section class="section page1">
                    <div class="box">
                        <div class="con">
                            <div class="txt1 fadeInDown delay3 animate1">有你的地方就是幸福</div>
                            <div class="pic">
                                <div class="date">
                                    <div class="year">2021</div>
                                    <div class="day">
                                        Jul. 20
                                    </div>
                                </div>
                                <img src="https://pic.marry.com.tw/2020/10/24/191414/2021/04/19/trim_161880090612895300.jpg" alt="" class="fadeInRight delay2 animate1" />
                                <div class="name fadeInLeft delay4 animate1">Aa&Qq</div>
                                <img src="https://statics.marry.com.tw/img/invitation/template_2/01_txt2.svg" alt="" class="txt3" />
                            </div>
                            <img src="https://statics.marry.com.tw/img/invitation/template_2/01_txt1.svg" alt="" class="txt2 delay6 zoomIn animate1" />
                            <div class="info">
                                <div class="fadeInRight delay8 animate1">2021 / 07 / 20&nbsp;10:55</div>
                                <p class="venue fadeInRight delay8 animate1">Xjxn</p>
                                <div class="fadeInRight delay10 animate1">Xjxxj</div>
                            </div>
                            <img src="https://statics.marry.com.tw/img/invitation/template_2/border_ic.svg" alt="" class="border" />
                        </div>
                    </div>
                </section>
                <section class="section page2">
                    <div class="box">
                        <div class="con">
                            <div class="pic">
                                <div class="txt1 fadeInDown delay2 animate1">有你的地方就是幸福</div>
                                <img src="https://statics.marry.com.tw/img/invitation/template_2/02_pic1.jpg?date=20210419001" alt="" class="fadeIn delay1 animate1" />
                                <div class="txt2 fadeInDown delay6 animate1">
                                    終於等到你<br />
                                    <span class="en fadeInDown delay6 animate1">I'm always by your side</span>
                                </div>
                            </div>
                            <div class="txt3 fadeIn delay8 animate1"><img src="https://statics.marry.com.tw/img/invitation/template_2/02_txt1.svg" alt="" /></div>
                            <img src="https://statics.marry.com.tw/img/invitation/template_2/border_ic.svg" alt="" class="border" />
                            <div class="pic2">
                                <img src="https://statics.marry.com.tw/img/invitation/template_2/02_pic2.jpg?date=20210419001" alt="" />
                                <div class="txtbox">
                                    <div class="fadeInRight delay8 animate1">還好我沒有放棄</div>
                                    <div class="fadeInRight delay9 animate1">讓我等到陪我共度一生的你</div>
                                    <div class="fadeInRight delay10 animate1">只要你在我身邊，那就是幸福</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section page3">
                    <div class="box">
                        <div class="con">
                            <img src="https://statics.marry.com.tw/img/invitation/template_2/top.svg" alt="" class="top fadeInDown delay2 animate1" />
                            <div class="pic">
                                <span class="img"><img src="https://statics.marry.com.tw/img/invitation/template_2/03_pic1.jpg?date=20210419001" alt="" class="fadeInRight delay2 animate1" /></span>
                                <div class="txt2 fadeInDown delay4 animate1">
                                    終於等到你<br />
                                    <span class="sm">
                                        <div class="fadeInDown delay6 animate1">我因有妳而幸福</div>
                                        <div class="fadeInDown delay7 animate1">真幸運，能在這個世界找到妳！</div>
                                    </span>
                                    <div class="en fadeInDown delay8 animate1">I'm always by your side</div>
                                </div>
                            </div>
                            <div class="txt">
                                <div class="fadeInRight delay8 animate1">還好我沒有放棄</div>
                                <div class="fadeInRight delay9 animate1">讓我等到陪我共度一生的你</div>
                                <div class="fadeInRight delay10 animate1">只要你在我身邊，那就是幸福</div>
                            </div>
                        </div>
                    </div>
                    <img src="https://statics.marry.com.tw/img/invitation/template_2/bottom.jpg" alt="" class="bottom" />
                </section>
                <section class="section page4 page3">
                    <div class="box">
                        <div class="con">
                            <img src="https://statics.marry.com.tw/img/invitation/template_2/top.svg" alt="" class="top fadeInDown delay2 animate1" />
                            <div class="pic">
                                <span class="img"><img src="https://statics.marry.com.tw/img/invitation/template_2/04_pic1.jpg?date=20210419001" alt="" class="fadeInRight delay2 animate1" /></span>
                                <div class="txt2 fadeInDown delay4 animate1">
                                    終於等到你<br />
                                    <span class="sm">
                                        <div class="fadeInDown delay6 animate1">我因有妳而幸福</div>
                                        <div class="fadeInDown delay7 animate1">真幸運，能在這個世界找到妳！</div>
                                    </span>
                                    <div class="en fadeInDown delay8 animate1">I'm always by your side</div>
                                </div>
                            </div>
                            <div class="txt">
                                <div class="fadeInRight delay8 animate1">還好我沒有放棄</div>
                                <div class="fadeInRight delay9 animate1">讓我等到陪我共度一生的你</div>
                                <div class="fadeInRight delay10 animate1">只要你在我身邊，那就是幸福</div>
                            </div>
                        </div>
                    </div>
                    <img src="https://statics.marry.com.tw/img/invitation/template_2/bottom.jpg" alt="" class="bottom" />
                </section>
                <section class="section page5 page3">
                    <div class="box">
                        <div class="con">
                            <img src="https://statics.marry.com.tw/img/invitation/template_2/top.svg" alt="" class="top fadeInDown delay2 animate1" />
                            <div class="pic">
                                <span class="img"><img src="https://statics.marry.com.tw/img/invitation/template_2/05_pic1.jpg?date=20210419001" alt="" class="fadeInRight delay2 animate1" /></span>
                                <div class="txt2 fadeInDown delay4 animate1">
                                    終於等到你<br />
                                    <span class="sm">
                                        <div class="fadeInDown delay6 animate1">我因有妳而幸福</div>
                                        <div class="fadeInDown delay7 animate1">真幸運，能在這個世界找到妳！</div>
                                    </span>
                                    <div class="en fadeInDown delay8 animate1">I'm always by your side</div>
                                </div>
                            </div>
                            <div class="txt">
                                <div class="fadeInRight delay8 animate1">還好我沒有放棄</div>
                                <div class="fadeInRight delay9 animate1">讓我等到陪我共度一生的你</div>
                                <div class="fadeInRight delay10 animate1">只要你在我身邊，那就是幸福</div>
                            </div>
                        </div>
                    </div>
                    <img src="https://statics.marry.com.tw/img/invitation/template_2/bottom.jpg" alt="" class="bottom" />
                </section>
                <section class="section page6">
                    <div class="box">
                        <div class="con">
                            <span class="animate1 bgfadeInUp"></span>
                            <div class="next">
                                <div class="pic"><img src="https://statics.marry.com.tw/img/invitation/template_2/06_pic1.jpg?date=20210419001" alt="" class="fadeIn delay16 animate1" /></div>
                                <div class="txt"><img src="https://statics.marry.com.tw/img/invitation/template_2/text.svg" alt="" class="fadeIn delay15 animate1" /><span class="fadeIn delay17 animate1">生活在笑</span></div>
                                <img src="https://statics.marry.com.tw/img/invitation/template_2/06_ic.svg" alt="" class="ic_x" class="fadeIn delay17 animate1" />
                                <div class="txt2">
                                    <div class="fadeIn delay16 animate1">＂當我們Say Hi~的時候，就知道是你 ＂</div>
                                    <div class="fadeIn delay18 animate1">從那瞬間我就知道自己已愛上你</div>
                                    <div class="fadeIn delay20 animate1">你是我的未來生活的最佳伴侶</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section page7 page6">
                    <div class="box">
                        <div class="con">
                            <span class="animate1 delay1 bgfadeInUp"></span>
                            <div class="next">
                                <div class="pic"><img src="https://statics.marry.com.tw/img/invitation/template_2/07_pic1.jpg?date=20210419001" alt="" class="fadeIn delay16 animate1" /></div>
                                <div class="txt"><img src="https://statics.marry.com.tw/img/invitation/template_2/text.svg" alt="" class="fadeIn delay15 animate1" /><span class="fadeIn delay17 animate1">日常的愛與幸福</span></div>
                                <div class="pic2">
                                    <img src="https://statics.marry.com.tw/img/invitation/template_2/07_pic2.jpg?date=20210419001" alt="" class="fadeIn delay17 animate1" />
                                    <img src="https://statics.marry.com.tw/img/invitation/template_2/07_pic3.jpg?date=20210419001" alt="" class="fadeIn delay18 animate1" />
                                    <img src="https://statics.marry.com.tw/img/invitation/template_2/07_pic4.jpg?date=20210419001" alt="" class="fadeIn delay19 animate1" />
                                </div>
                                <div class="txt2 fadeIn delay20 animate1">
                                    ＂有你有我的地方就是幸福 ＂
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section page8">
                    <div class="box">
                        <div class="con">
                            <span class="animate1 delay1 bgfadeInUp"></span>
                            <div class="txt animate1 delay8 fadeInUp"><img src="https://statics.marry.com.tw/img/invitation/template_2/08_txt.svg" alt="" /></div>
                            <div class="form-wrap animate1 delay8 fadeInUp">
                                <div class="form-group required">
                                    <label class="control-label">您的姓名</label>
                                    <div class="control-box"><input class="form-control" type="text" name="name" value="" /></div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label">是否赴宴？</label>
                                    <div class="radio-box">
                                        <label class="form-radio">
                                            <input type="radio" name="status" value="1" />非常樂意
                                            <div class="form-flex" id="people">
                                                大人
                                                <select name="adult" class="form-control width_auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                                位，小孩
                                                <select name="children" class="form-control width_auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                                位
                                            </div>
                                            <div class="form-flex" id="vegan">
                                                茹素
                                                <select name="vegan" class="form-control width_auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                                位
                                            </div>
                                        </label>
                                        <label class="form-radio"><input type="radio" name="status" value="0" />尚未確定 </label>
                                        <label class="form-radio"><input type="radio" name="status" value="2" />無法參加 </label>
                                    </div>
                                </div>
                                <div class="form-group required" id="guest_address_form">
                                    <label class="control-label">需要寄送喜帖嗎？</label>
                                    <div class="radio-box">
                                        <label class="form-radio"><input type="radio" name="guest_address_status" value="0" />不需要 </label>
                                        <label class="form-radio"><input type="radio" name="guest_address_status" value="1" />需要，地址是 </label>
                                    </div>
                                    <div class="control-box"><input style="display: none;" class="form-control" type="text" name="guest_address" placeholder="請輸入地址..." /></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">給新人的祝福</label>
                                    <div class="control-box">
                                        <textarea name="blessing" cols="30" rows="2" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <button class="btn" type="submit" id="send">確認送出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fancybox">
                        <div class="box">
                            <div class="con">
                                <span class="animate1 delay1 bgfadeInDown"></span>
                                <div class="txt animate1 delay8 fadeInUp"><img src="https://statics.marry.com.tw/img/invitation/template_2/08_txt2.svg" alt="" id="success_image" /></div>
                                <div class="pic animate1 delay10 zoomIn" id="google_map">
                                    <iframe
                                        src="https://www.google.com/maps/embed/v1/place?q=Xjxxj&key=AIzaSyDzhtThnMUmsRIJJ3wxxXHEElu61CwvSrE"
                                        width="100%"
                                        height="100%"
                                        frameborder="0"
                                        style="border: 0;"
                                        allowfullscreen=""
                                        aria-hidden="false"
                                        tabindex="0"
                                    ></iframe>
                                </div>
                                <div class="info animate1 delay10 fadeIn" id="success_message">
                                    2021 / 07 / 20&nbsp;10:55<br />
                                    <p class="venue">Xjxn</p>
                                    Xjxxj
                                </div>
                                <div class="info animate1 delay10 fadeIn" style="display: none;" id="error_message"></div>
                                <button id="close" class="close">X</button><img src="https://statics.marry.com.tw/img/invitation/template_2/border_ic.svg" alt="" class="border border2" />
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section page9">
                    <div class="box">
                        <div class="con">
                            <div class="pic"><img src="https://statics.marry.com.tw/img/invitation/template_2/09_pic.jpg?date=20210419001" alt="" /></div>
                            <div class="name fadeInUp delay6 animate1">Aa<span class="ic3">&</span>Qq</div>
                            <div class="info fadeInUp delay7 animate1">婚禮喜帖</div>
                        </div>
                    </div>
                    <img src="https://statics.marry.com.tw/img/invitation/template_2/border_ic.svg" alt="" class="border" />
                </section>
            </div>
            <img src="https://statics.marry.com.tw/img/invitation/up.svg" alt="" class="up" />
        </div>

        <script type="text/javascript" src="https://statics.marry.com.tw/invitation-detail-20210419001.js"></script>
        <input type="hidden" name="id" value="MlA1djhZbEk3ZnU0SU1JKw" /><input type="hidden" name="type" value="2" /><input type="hidden" name="a_id" value="7191" /><input type="hidden" name="is_example" value="0" />
        <input type="hidden" name="is_send" value="0" /><input type="hidden" name="module_name" value="invitation" /><input type="hidden" name="action_name" value="detail" />
        <input
            type="hidden"
            id="marry_access_toke"
            value="vDMfzt26hcoqXptE27yqD06qTgtfAKuFU1b+lpitiPjQrFIWSdTsmlKnSFV/FS6FY6/Tnb4CgS/jKsTJN3ivXcovF0stb13u9jiktI8RiBdCCFqTSkqTWD4t4nDZY4LeNVr9OROHumYVEDPQQtDMJ0c5P2MFCefKVtvMYAM25CE2T4y2zXS5mF5E3F1xgHNHZEaAcpGKG64tprK2S6kQNq76ZUUMsPz+3v9x4Lgt406WenQcrofWLl/H5Dt1Li16IdnoUdzCNKtLcZePYjy/ctNuLMqOCinzAuBmdttjuVQT9ST3/qTGh++CrjXTmJQZ4BVFWDTsg7mpa8CQxruEVjSi/pU4q3T6kT83zzCjI6psH01wZ1sJTgafK4aDexK+Axsfjvh9KC7K5KG9w7i2jt4YnGJK0XkGtKg5bxwV1WEpTYz9xUCfZh2a05jAy+x5dCh9zUPmAaZzpuvvM6nQoBcU9DUufp7tSD2IXpLI96CPaijXbyIrBjcRJ40A+l59N0QH8V7dcrebFW9uIb+XlwBJ+BUnA5NScS068zrjlQ4"
        />
    </body>
</html>
