{% extends 'wedding/base.html' %}
{% load static %}

{% block head %}
{{ block.super }}
<!-- Fb Comments -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&autoLogAppEvents=1&version=v10.0&appId=152657939979250" nonce="qFQJXB8M"></script>
<meta property="fb:admins" content="100000201210820" />
{% endblock head %}

{% block navleftul %}
<!-- navleftul -->
<li class="current-active"><a href="#intro">Intro</a></li>
<li><a href="#one">About</a></li>
<li><a href="#two">RSVP</a></li>
<li><a href="#work">Gallery</a></li>
<li><a href="#map">Detail</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="{% url 'WEDDING:guestbook-board' %}">Guestbook</a></li>
{% endblock navleftul %}

{% block nav %}
<!-- nav -->
<li class="current-active"><a href="#intro">Intro</a></li>
<li><a href="#one">About</a></li>
<li><a href="#two">RSVP</a></li>
<li><a href="#work">Gallery</a></li>
<li><a href="#map">Detail</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="{% url 'WEDDING:guestbook-board' %}">Guestbook</a></li>
{% endblock nav %}

{% block home %}
<!-- Intro -->
<section id="intro" class="main style1 fullscreen">
	<div class="content">
		<header>
			<h1>Hey.</h1>
		</header>
		<h2>
			<span id="last-days"></span>
		</h2>
		<p>Welcome to <strong>Big Picture</strong> a responsive site template designed by <a href="https://html5up.net">HTML5 UP</a><br />
		and released for free under the <a href="https://html5up.net/license">Creative Commons Attribution license</a>.</p>
		<footer>
			<a href="#one" class="button style2 down">More</a>
		</footer>
	</div>
</section>

<!-- One -->
<section id="one" class="main style2 right dark fullscreen">
	<div class="content box style2">
		<header>
			<h2>What I Do</h2>
		</header>
		<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
		Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
		id varius justo euismod in. Curabitur egestas consectetur magna.</p>
	</div>
	<a href="#two" class="button style2 down anchored">Next</a>
</section>

<!-- Two -->
<section id="two" class="main style2 left dark fullscreen">
	<div class="content box style2">
		<header>
			<h2>Who I Am</h2>
		</header>
		<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
		Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
		id varius justo euismod in. Curabitur egestas consectetur magna.</p>
		<input type="submit" value="RSVP" onclick="location.href='/Wedding/rsvp'"/> 
	</div>
	<a href="#work" class="button style2 down anchored">Next</a>
</section>

<!-- Work -->
<section id="work" class="main style3 primary">
	<div class="content">
		<header>
			<h2>gallery</h2>
			<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
			Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
			arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.</p>
		</header>

		<!-- Gallery 1 -->
		<h3>Pre-wedding Photo</h3>
		<div class="gallery">
			<article class="from-left">
				<a href="{% static 'img/fulls-01.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-01.jpg' %}" title="The Anonymous Red" alt="" />
				</a>
			</article>
			<article class="from-right">
				<a href="{% static 'img/fulls-02.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-02.jpg' %}" title="Airchitecture II" alt="" />
				</a>
			</article>
			<article class="from-left">
				<a href="{% static 'img/fulls-03.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-03.jpg' %}" title="Air Lounge" alt="" />
				</a>
			</article>
			<article class="from-right">
				<a href="{% static 'img/fulls-04.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-04.jpg' %}" title="Carry on" alt="" />
				</a>
			</article>
			<!-- display img -->
			<article style="display: none;" class="from-right">
				<a href="{% static 'img/fulls-Embedded Link.png' %}" class="image fit">
					<img src="{% static 'img/thumbs-Embedded Link.png' %}" title="Carry on" alt="" />
				</a>
			</article>
		</div>

		<!-- Gallery2  -->
		<h3>Wedding Photo</h3>
		<div class="gallery">
			<article class="from-left">
				<a href="{% static 'img/fulls-03.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-03.jpg' %}" title="Air Lounge" alt="" />
				</a>
			</article>
			<article class="from-right">
				<a href="{% static 'img/fulls-04.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-04.jpg' %}" title="Carry on" alt="" />
				</a>
			</article>
			<article class="from-left">
				<a href="{% static 'img/fulls-05.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-05.jpg' %}" title="The sparkling shell" alt="" />
				</a>
			</article>
			<article class="from-right">
				<a href="{% static 'img/fulls-06.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-06.jpg' %}" title="Bent IX" alt="" />
				</a>
			</article>
			<!-- display img -->
			<article style="display: none;" class="from-right">
				<a href="{% static 'img/fulls-Embedded Link.png' %}" class="image fit">
					<img src="{% static 'img/thumbs-Embedded Link.png' %}" title="Carry on" alt="" />
				</a>
			</article>
		</div>

		<!-- Gallery3  --> 
		<h3>Behind the Scene</h3>
		<div class="gallery">
			<article class="from-left">
				<a href="{% static 'img/fulls-03.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-03.jpg' %}" title="Air Lounge" alt="" />
				</a>
			</article>
			<article class="from-right">
				<a href="{% static 'img/fulls-04.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-04.jpg' %}" title="Carry on" alt="" />
				</a>
			</article>
			<article class="from-left">
				<a href="{% static 'img/fulls-05.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-05.jpg' %}" title="The sparkling shell" alt="" />
				</a>
			</article>
			<article class="from-right">
				<a href="{% static 'img/fulls-06.jpg' %}" class="image fit">
					<img src="{% static 'img/thumbs-06.jpg' %}" title="Bent IX" alt="" />
				</a>
			</article>
			<!-- display img -->
			<article style="display: none;" class="from-right">
				<a href="{% static 'img/fulls-Embedded Link.png' %}" class="image fit">
					<img src="{% static 'img/thumbs-Embedded Link.png' %}" title="Carry on" alt="" />
				</a>
			</article>
		</div>

	</div>
</section>

<!-- Detail -->
<section id="detail">
	<div class="inner">

		<!-- Detail 1 -->
		<article>
			<div class="content">
				<header>
					<h2>Event Information</h2>
				</header>
				<div class="image fit">
					<img src="{% static 'img/pic01.jpg' %}" alt="" />
				</div>
				<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
			</div>
		</article>

		<!-- Detail 2 -->
		<article class="alt">
			<div class="content">
				<header>
					<h2>Map</h2>
				</header>
				<div class="google-maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.700210946287!2d121.57261211459804!3d25.0781481426751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ac64ea3c8057%3A0x5193eb407f2e483e!2z6Ie65YyX5biC5YWn5rmW6YGL5YuV5Lit5b-DIFRhaXBlaSBOZWlodSBTcG9ydHMgQ2VudGVy!5e0!3m2!1szh-TW!2stw!4v1615967390608!5m2!1szh-TW!2stw" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
				<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
			</div>
		</article>

	</div>
</section>

<!-- Fb Comments -->
<section id="fbcomments" class="main style3 secondary">
	<div class="content">
		<header>
			<h2>Say Hello.</h2>
			<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
		</header>
		<div class="box">
			<div class="fb-comments" data-href="http://localhost:8000/Wedding/" data-width="100%" data-numposts="5"></div>	
		</div>
	</div>
</section>

<!-- Contact -->
<section id="contact" class="main style3 secondary">
	<div class="content">
		<header>
			<h2>Contact Us.</h2>
			<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
		</header>
		<div class="box">
			<form action="https://formspree.io/f/maylrgpv" method="post" action="#">
				<div class="fields">
					<div class="field half"><input type="text" name="Name" placeholder="Name" /></div>
					<div class="field half"><input type="email" name="_replyto" placeholder="Email" /></div>
					<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
				</div>
				<ul class="actions special">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</form>
			<!-- superuser button -->
			<ul>
				{% if request.user.is_superuser %}
				<li><input type="submit" value="Submissions" onclick="window.open('https://formspree.io/forms/maylrgpv/submissions')"/></li>
				{% endif %}
			</ul>
		</div>
	</div>
</section>
{% endblock home %}